@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/font/NeuzeitGroExt-Bla.eot');
    src: local('Neuzeit Grotesk Extra-condensed Black'), local('NeuzeitGroExt-Bla'),
        url('/font/NeuzeitGroExt-Bla.eot?#iefix') format('embedded-opentype'),
        url('/font/NeuzeitGroExt-Bla.woff2') format('woff2'),
        url('/font/NeuzeitGroExt-Bla.woff') format('woff'),
        url('/font/NeuzeitGroExt-Bla.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/font/NeuzeitGro-Bla.eot');
    src: local('Neuzeit Grotesk Black'), local('NeuzeitGro-Bla'),
        url('/font/NeuzeitGro-Bla.eot?#iefix') format('embedded-opentype'),
        url('/font/NeuzeitGro-Bla.woff2') format('woff2'),
        url('/font/NeuzeitGro-Bla.woff') format('woff'),
        url('/font/NeuzeitGro-Bla.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/font/NeuzeitGro-Reg.eot');
    src: local('Neuzeit Grotesk Regular'), local('NeuzeitGro-Reg'),
        url('/font/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
        url('/font/NeuzeitGro-Reg.woff2') format('woff2'),
        url('/font/NeuzeitGro-Reg.woff') format('woff'),
        url('/font/NeuzeitGro-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/font/NeuzeitGro-Lig.eot');
    src: local('Neuzeit Grotesk Light'), local('NeuzeitGro-Lig'),
        url('/font/NeuzeitGro-Lig.eot?#iefix') format('embedded-opentype'),
        url('/font/NeuzeitGro-Lig.woff2') format('woff2'),
        url('/font/NeuzeitGro-Lig.woff') format('woff'),
        url('/font/NeuzeitGro-Lig.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/font/NeuzeitGro-Bol.eot');
    src: local('Neuzeit Grotesk Bold'), local('NeuzeitGro-Bol'),
        url('/font/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
        url('/font/NeuzeitGro-Bol.woff2') format('woff2'),
        url('/font/NeuzeitGro-Bol.woff') format('woff'),
        url('/font/NeuzeitGro-Bol.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('/font/NeuzeitGroCon-Bla.eot');
    src: local('Neuzeit Grotesk Condensed Black'), local('NeuzeitGroCon-Bla'),
        url('/font/NeuzeitGroCon-Bla.eot?#iefix') format('embedded-opentype'),
        url('/font/NeuzeitGroCon-Bla.woff2') format('woff2'),
        url('/font/NeuzeitGroCon-Bla.woff') format('woff'),
        url('/font/NeuzeitGroCon-Bla.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

